@import "tailwindcss";

/* here we can add custome css  */

*{
 
  box-sizing: border-box;
}
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {  
  width: 90%;
  margin: auto;

}
#root > div:nth-child(2) > div > footer > div > div.container.flex.py-8 > div.part3.w-\[35\%\].flex.pl-8.flex-col.pr-8 > form > label > span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-rizt0-MuiTypography-root{
  font-size: 13px;
}

  footer form input::placeholder{
    font-size: 14px;
  }
 body{
  
  font-optical-sizing: auto;
 }
 .swiper-button-prev,.swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 2px #000000f1,0 1px 2px #000000f1 !important;
 }
 .swiper-button-prev:after,.swiper-button-next:after{
  font-size: 22px !important;
  color: black;

 }
 .slider .swiper-button-prev{
  width: 30px;
  height: 30px;
  min-width: 30px;
 }
 .slider .swiper-button-prev:after{
  font-size: 18px !important;
 }
 .slider .swiper-button-next{
  width: 30px;
  height: 30px;
  min-width: 30px;
 }
 .slider .swiper-button-next:after{
  font-size: 18px !important;
 }
  .sliderhome .swiper-button-prev{
   left: -10px !important;
  }
  .sliderhome .swiper-button-next{
   right: -10px !important;
  }
 .itemviewaction button.active svg{
  color:#ff5252 !important;
  opacity: 1;

 }
 