@import "tailwindcss";

/* here we can add custome css  */

*{
 
  box-sizing: border-box;
}
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {  
  width: 90%;
  margin: auto;

}
 
 body{
  
  font-optical-sizing: auto;
 }